---
import Layout from "../layouts/Layout.astro";
import HeroImg from "../components/HeroImg.astro";
import { Image } from "astro:assets";
import heroImg from "../images/contact/contact-hero.webp";
---

<Layout>
  <Fragment slot="head">
    <title>Contact | Wedded</title>
    <link rel="canonical" href="https://weddedpod.com/contact" />
    <meta
      name="description"
      content="Want to reach out to the Wedded team? Whether you're a listener or a business partner, this is the place to contact us."
    />
    <meta
      property="og:site_name"
      content="Wedded - A Wedding Planning Podcast"
    />
    <meta property="og:title" content="Contact | Wedded" />
    <meta
      property="og:description"
      content="Want to reach out to the Wedded team? Whether you're a listener or a business partner, this is the place to contact us."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://weddedpod.com/contact" />
    <meta property="og:image" content="/images/contact/contact-hero.webp" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Contact | Wedded" />
    <meta
      name="twitter:description"
      content="Want to reach out to the Wedding Photo Hangover team? Whether you're a listener or a business partner, this is the place to contact us."
    />
    <meta name="twitter:image" content="/images/contact/contact-hero.webp" />
    <meta name="twitter:url" content="https://weddedpod.com/contact" />
    <meta itemprop="name" content="Contact | Wedded" />
    <meta
      itemprop="description"
      content="Want to reach out to the Wedding Photo Hangover team? Whether you're a listener or a business partner, this is the place to contact us."
    />
    <meta itemprop="url" content="https://weddedpod.com/contact" />
    <meta itemprop="image" content="/images/contact/contact-hero.webp" />
    <link
      rel="preload"
      as="image"
      href={heroImg.src}
      type="image/webp"
      fetchpriority="high"
    />
  </Fragment>

  <main>
    <HeroImg title="Get in Touch" background={heroImg} />

    <div class="content-container-2">
      <section>
        <h2 style="margin-bottom: 1rem !important;">Oh hey!</h2>
        <p
          style="margin-bottom: 0.5rem !important; text-align: left !important;"
        >
          Got a question? An idea for a future episode? Want to tell us what we
          got wrong (or right)? Or maybe you're a business looking to sponsor
          the show, book us for a live event, or chat about advertising.
        </p>
        <p
          style="margin-bottom: 0.5rem !important; text-align: left !important;"
        >
          Either way — you're in the right place.
        </p>
        <p
          style="margin-bottom: 0.5rem !important; text-align: left !important;"
        >
          Tap the button below and fill out the form. We’ll get back to you as
          soon as we’re done recording, editing, or recovering from another
          wedding weekend.
        </p>
        <p style="text-align: left !important;">
          We can’t wait to hear from you!
        </p>
      </section>
      <section>
        <div style="margin-bottom: 2rem !important;">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSe_gciYkxwMEofwN3SbxotNIlsyc81budnkzNTnnV3jbHJauA/viewform"
            target="_blank"
            rel="noopener noreferrer"
            class="button-link"
          >
            Open Contact Form
          </a>
        </div>
      </section>
      <section>
        <p>
          If you'd rather email us directly, you can <a
            href="mailto:weddedpod@gmail.com?subject=Inquiry&body=Hi%20Jenn%20and%20Steve,%0D%0A%0D%0AI%20have%20a%20question%20about..."
            >click here to email us</a
          >.
        </p>
      </section>
    </div>
  </main>
</Layout>
