---
import Layout from "../layouts/Layout.astro";
import HeroImgNew from "../components/HeroImgNew.astro";
---

<Layout>
  <Fragment slot="head">
    <title>Wedded – A Wedding Planning Podcast</title>
    <link rel="canonical" href="https://weddedpod.com/" />
    <meta
      name="description"
      content="Join wedding pros Jenn and Steve Van Elk as they share candid, funny, and practical advice to help you plan the wedding you actually want. From insider tips to industry secrets, Wedded keeps it real."
    />
    <meta
      property="og:site_name"
      content="Wedded – A Wedding Planning Podcast"
    />
    <meta property="og:title" content="Wedded – A Wedding Planning Podcast" />
    <meta
      property="og:description"
      content="Join wedding pros Jenn and Steve Van Elk as they share candid, funny, and practical advice to help you plan the wedding you actually want. From insider tips to industry secrets, Wedded keeps it real."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://weddedpod.com/" />
    <meta property="og:image" content="/images/index/wedded-hero.webp" />
    <meta property="og:image:width" content="1500" />
    <meta property="og:image:height" content="843" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Wedded – A Wedding Planning Podcast" />
    <meta
      name="twitter:description"
      content="Join wedding pros Jenn and Steve Van Elk as they share candid, funny, and practical advice to help you plan the wedding you actually want. From insider tips to industry secrets, Wedded keeps it real."
    />
    <meta name="twitter:image" content="/images/index/wedded-hero.webp" />
    <meta name="twitter:url" content="https://weddedpod.com/" />

    <meta itemprop="name" content="Wedded – A Wedding Planning Podcast" />
    <meta
      itemprop="description"
      content="Join wedding pros Jenn and Steve Van Elk as they share candid, funny, and practical advice to help you plan the wedding you actually want. From insider tips to industry secrets, Wedded keeps it real."
    />
    <meta itemprop="url" content="https://weddedpod.com/" />
    <meta itemprop="image" content="/images/index/wedded-hero.webp" />

    <link
      rel="preload"
      as="image"
      href="/images/index/wedded-hero-medium.webp"
      imagesrcset="
      /images/index/wedded-hero-small.webp 480w,
      /images/index/wedded-hero-medium.webp 768w,
      /images/index/wedded-hero-large.webp 1920w
    "
      imagesizes="100vw"
    />
  </Fragment>

  <main>
    <HeroImgNew
      alt="Wedded Podcast"
      heading="Plan the Wedding You Actually Want"
      image="/images/index/wedded-hero.webp"
      imageMedium="/images/index/wedded-hero.webp"
      imageSmall="/images/index/wedded-hero.webp"
    />
    <div class="content-container">
      <section>
        <div class="photo-row" role="group" aria-label="Featured photos">
          <img
            src="/images/index/jennifer_van_elk_favorites-0014.webp"
            alt="Jennifer Van Elk Favorites 0014"
          />
          <img
            src="/images/index/jennifer_van_elk_favorites-0024.webp"
            alt="Jennifer Van Elk Favorites 0024"
          />
          <img
            src="/images/index/jennifer_van_elk_favorites-0020.webp"
            alt="Jennifer Van Elk Favorites 0020"
          />
          <img
            src="/images/index/jennifer_van_elk_favorites-0025.webp"
            alt="Jennifer Van Elk Favorites 0025"
          />
        </div>

        <div>
          <h2>Wedded Podcast</h2>
          <p>with</p>
          <p>Jenn &amp; Steven Van Elk</p>
        </div>
      </section>

      <section>
        <div class="spotify-embed-wrapper">
          <div
            class="spotify-placeholder"
            data-spotify-url="https://open.spotify.com/embed/show/3xnUmYqaywNyDgWqQzUYwl?utm_source=generator&theme=0"
          >
            <div class="spotify-content">
              <img
                src="/images/global/WPH_Square_Logo-small.webp"
                srcset="/images/global/wedded_logo.webp 1x, /images/global/wedded_logo.webp 2x"
                alt="Wedding Photo Hanover Cover"
                class="spotify-cover"
              />
              <div class="spotify-text">
                <p class="spotify-title">Wedded</p>
                <p class="spotify-subtitle">Tap to load the latest episode</p>
              </div>
              <div class="spotify-logo">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="spotify-icon"
                  viewBox="0 0 50 50"
                >
                  <path
                    d="M25.009,1.982C12.322,1.982,2,12.304,2,24.991S12.322,48,25.009,48s23.009-10.321,23.009-23.009S37.696,1.982,25.009,1.982z M34.748,35.333c-0.289,0.434-0.765,0.668-1.25,0.668c-0.286,0-0.575-0.081-0.831-0.252C30.194,34.1,26,33,22.5,33.001 c-3.714,0.002-6.498,0.914-6.526,0.923c-0.784,0.266-1.635-0.162-1.897-0.948s0.163-1.636,0.949-1.897 c0.132-0.044,3.279-1.075,7.474-1.077C26,30,30.868,30.944,34.332,33.253C35.022,33.713,35.208,34.644,34.748,35.333z M37.74,29.193 c-0.325,0.522-0.886,0.809-1.459,0.809c-0.31,0-0.624-0.083-0.906-0.26c-4.484-2.794-9.092-3.385-13.062-3.35 c-4.482,0.04-8.066,0.895-8.127,0.913c-0.907,0.258-1.861-0.272-2.12-1.183c-0.259-0.913,0.272-1.862,1.184-2.12 c0.277-0.079,3.854-0.959,8.751-1c4.465-0.037,10.029,0.61,15.191,3.826C37.995,27.328,38.242,28.388,37.74,29.193z M40.725,22.013 C40.352,22.647,39.684,23,38.998,23c-0.344,0-0.692-0.089-1.011-0.275c-5.226-3.068-11.58-3.719-15.99-3.725 c-0.021,0-0.042,0-0.063,0c-5.333,0-9.44,0.938-9.481,0.948c-1.078,0.247-2.151-0.419-2.401-1.495 c-0.25-1.075,0.417-2.149,1.492-2.4C11.729,16.01,16.117,15,21.934,15c0.023,0,0.046,0,0.069,0 c4.905,0.007,12.011,0.753,18.01,4.275C40.965,19.835,41.284,21.061,40.725,22.013z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <p>
          Wedded Podcast is a conversation about wedding planning and marriage.
          Hosted by Jenn & Steve Van Elk.
        </p>
      </section>

      <section>
        <div>
          <p>
            We're Jenn &amp; Steve Van Elk. We've been married since 2008. We
            used to joke that in doggy years that's a pretty long time, so we
            are pretty much an old married couple. But, now it's just a long
            time in human years too. So I guess we're just really an old married
            couple now.
          </p>
          <p>
            If you are an avid listener, you probably realize we are lovers of
            nerdy things, beer, and the outdoors... and not to get too blue, but
            we're also lovers. Our love language is to make fun of ourselves and
            each other and for that reason we are both full of joy. We have two
            kids and two businesses. Our kids, Addie, Nora, &amp; Iain have no
            idea that we podcast. I'm sure if they knew, they'd be severely
            embarrassed. Besides making sure to make our kids feel
            understandingly mortified of their nerdy parents, we are running Van
            Elk & Co. Photographers in Indianapolis, which specializes in
            destination and local wedding photography, and Bespoke Tone, which
            is a post-processing service for photographers, videographers, and
            podcasters.
          </p>
          <p>
            For those who want to dig deeper, feel free to explore our story at
            the link below!
          </p>

          <p>
            <a
              href="http://jennifervanelk.com/photos-of-us"
              target="_blank"
              rel="noopener">More</a
            >
          </p>
        </div>
      </section>
      <section class="card card-left">
        <picture>
          <source
            srcset="/images/index/wph-community.webp"
            media="(max-width: 768px)"
            type="image/webp"
          />
          <img
            src="/images/index/wph-community.webp"
            alt="Wedded Podcast Community"
            decoding="async"
            loading="lazy"
            class="card-image"
          />
        </picture>
        <div class="card-content">
          <h3>Community</h3>
          <p>
            Find other people planning their weddings with a sense of humor
            looking to make friends. We have an awesome Facebook group for those
            interested. It’s the most supportive and most hilarious group of
            people you’ll find online. You don’t have to listen to our podcast
            to be a part of the group.
          </p>
          <a
            href="https://www.facebook.com/groups/1989839237702941"
            class="button-link">Join Us</a
          >
        </div>
      </section>

      <section class="card card-right">
        <picture>
          <source
            srcset="/images/index/wedded-vec.webp"
            media="(max-width: 768px)"
            type="image/webp"
          />
          <img
            src="/images/index/wedded-vec.webp"
            srcset=""
            alt="Visit Van Elk & Co. to See Our Photography Work"
            decoding="async"
            loading="lazy"
            class="card-image"
          />
        </picture>
        <div class="card-content">
          <h3>Support</h3>
          <p>
            Already a fan of the wedding planning podcast? Already a part of our
            awesome Facebook group? And you still want more Van Elk content in
            your life? Well, that's pretty awesome. Thanks. If that's you, then
            you can check out our photography website and peruse around to get
            ideas for your wedding.
          </p>
          <a href="https://jennifervanelk.com" class="button-link"
            >Van Elk & Co.</a
          >
        </div>
      </section>
    </div>
  </main>
</Layout>
