---
// You can put props here later if needed
---

<header>
  <div class="logo-container">
    <a href="/">
      <img
        src="/images/global/wedded_logo.webp"
        srcset="/images/global/wedded_logo-small.webp 1x, /images/global/wedded_logo-medium.webp 2x"
        alt="Wedding Photo Hangover Logo"
        width="47"
        height="47"
      />
    </a>
  </div>
  <nav>
    <div class="menu-toggle">☰</div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/episodes">Episodes</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </nav>
</header>
